<!DOCTYPE html>
<html>

<head>
    <title>IceGraph</title>

    {% if error %}
    <script>
        alert('Error: Could not find or access the Iceberg table. Please check the name and try again.');
    </script>
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="card">
        <h2>IceGraph</h2>
        <form id="gen-form" method="POST" action="/generate">
            <label>Table Name</label>
            <input type="text" name="table_name" placeholder="db.table" required>

            <label>View As Of</label>
            <input type="datetime-local" name="date" id="view_as_of">

            <p>Enter a table to visualize its structure. <br><b>Time Filter:</b> Filter by the timestamp of the
                <b>snapshot
                    files</b>, accordingly icegraph will prunes metadata logs, manifests, and data files
                added after the selected time. Only if no snapshot exist for the metadata file, we filter by its own
                timesatmp.
            </p>

            <button type="submit" id="submit-btn">Generate Graph</button>
        </form>

        <div id="loader">
            <div class="spinner"></div>
            <b>Analyzing Lineage...</b>
        </div>

    </div>

    <script>
        window.addEventListener('load', () => {
            const date = new Date(Date.now() - 7200000);
            date.setMinutes(date.getMinutes() - date.getTimezoneOffset());
            document.getElementById('view_as_of').value = date.toISOString().slice(0, 16);
        });
        document.getElementById('gen-form').onsubmit = function () {
            document.getElementById('submit-btn').style.display = 'none';
            document.getElementById('loader').style.display = 'block';
        };

    </script>
</body>

</html>